<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucky.linkpal">
    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Permission to read external storage eg. memory card-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Post_A_Job"
            android:label="Post new job"
            android:noHistory="true" />
        <activity
            android:name=".Worker_Homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Employer_Homepage"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".Employer_Signup"
            android:label="Employer sign up" />
        <activity
            android:name=".About"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Worker_Signup2"
            android:label="Step 2/2" />
        <activity
            android:name=".Worker_Signup"
            android:label="Step 1/2" />
        <activity
            android:name=".Signup"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>